<nav class="tm-main-nav">
    <ul class="tm-main-nav-ul">
        <li class="tm-nav-item">
            <a href="/Home" class="tm-nav-item-link tm-button active">Trang chủ</a>
        </li>
        <li class="tm-nav-item">
            <a href="/CustMessage/Create" class="tm-nav-item-link tm-button">Gửi tâm thư</a>
        </li>
        <li class="tm-nav-item">
            <a href="/CustMessage" class="tm-nav-item-link tm-button">Hòm thư</a>
        </li>        
        <li class="tm-nav-item">
            <a href="/About" class="tm-nav-item-link tm-button">Giới thiệu</a>
        </li>
        <li class="tm-nav-item">
            <a href="/Contact" class="tm-nav-item-link tm-button">Liên hệ</a>
        </li>
    </ul>
</nav>
