@model IEnumerable<Model.EF.Gallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tm-main-content tm-gallery-container">
    <div class="grid">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="grid-item">
                    @if (item.Status)
                    {
                        <a href=@item.Link target="_blank">
                            <img src=@item.ImageUrl alt="Image" title=@item.Name>
                        </a>
                    }                   
                </div>
            }
        }
    </div>
</div> <!-- tm-main-content -->
