@model IEnumerable< Model.EF.Message >
    
@{  
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tm-main-content">
@if (Model != null)
{
    foreach (var item in Model)
    {
        if (item.Status)
        {
            <div class="row mb-5">
                <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
                    <div class="tm-media-img-container">
                        <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-pink">@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy HH:mm:ss")</div>
                        <img class="d-flex img-fluid" src="~/Assets/Home/img/610x610-02.jpg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-gray">
                        <div class="p-5">
                            <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">#@item.ID: Thư hồi đáp của @item.UserName</h2>
                            <p class="mb-4">
                                @Html.Raw(item.Answer.Substring(0,10))
                            </p>

                            <a href="/CustMessage/Detail/@item.ID"  class="btn btn-primary tm-button-rounded tm-button-pink tm-button-no-border tm-button-normal tm-button-timeline">Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        }
    }
}
</div>
